/* CSS declarations go here */
h1 {
  text-align: center;
  color: rgb(100, 102, 225);
  text-shadow: 5px 5px rgb(60, 41, 94);
  font-family: monospace;
  font-size: 60px;
  font-weight: bolder;
}

body {
  background: radial-gradient(rgb(37, 163, 124), rgb(255, 255, 255));
}

.blue {
  text-align: left;
}

.like {
  background-color: rgb(255, 255, 255);
  color: black;
}

.delete {
  background-color: rgb(255, 255, 255);
  color: black;
}
